# Heart diseases Prediction
## Columns in the Dataset:
1.  age
2.  sex [1 - male, 0 - female]
3.  CP - chest pain type [4 values]
4.  trestbps - resting blood pressure
5.  chol - serum cholestoral in mg/dl
6.  fbs - fasting blood sugar > 120 mg/dl          [1 - true, 0 - false]
7.  restecg - resting electrocardiographic results [values 0,1,2]
8.  thalach - maximum heart rate achieved
9.  exang - exercise induced angina                [1 - yes, 0 - no]
10. oldpeak - ST depression induced by exercise relative to rest
11. the slope of the peak exercise ST segment
12. number of major vessels [0-3] colored by flourosopy
13. thal: 0 = normal; 1 = fixed defect; 2 = reversable defect

Importing the libraries

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# Loading the data
heart = pd.read_csv("heart.csv")

In [4]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [5]:
# To prevent number of rows and columns
heart.shape

(1025, 14)

In [6]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [7]:
# Checking the missing values
heart.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
heart.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
# Checking the number of people having heart disease 

# 1 - "Defective heart"  &  0 - "Healthy heart"
heart["target"].value_counts()

1    526
0    499
Name: target, dtype: int64

In [10]:
# And we will store rest features in a variable called "a"
# Our output variable is target "b"
a = heart.drop(columns = "target", axis = 1)
b = heart["target"]

 Splitting the Data inot training & test data

In [11]:
a_train, a_test, b_train, b_test = train_test_split(a,b, test_size=0.2,stratify=b, random_state=2)

In [12]:
print(a.shape, a_train.shape, a_test.shape)

(1025, 13) (820, 13) (205, 13)

Logistic Regression

In [13]:
model = LogisticRegression()

In [14]:
model.fit(a_train, b_train)

LogisticRegression()

In [15]:
a_train_prediction = model.predict(a_train)
training_data_accuracy = accuracy_score(a_train_prediction, b_train)
print(training_data_accuracy)

0.8524390243902439

In [16]:
a_test_prediction = model.predict(a_test)
test_data_accuracy = accuracy_score(a_test_prediction, b_test)
print(test_data_accuracy)

0.8048780487804879

 Predicting the output

In [17]:
input_data = (41,0, 1,130, 204, 0, 0, 172, 0, 1.4, 2, 0, 2)

# converting the array into Numpy array

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

[1]